/SystemCcharpzinho.sln
/.idea/
/SystemCcharpzinho.sln.DotSettings.user

bin/
obj/

SystemCcharpzinho.API/Dockerfile
SystemCcharpzinho.API/docker-compose.yml
SystemCcharpzinho.API/init.sql
SystemCcharpzinho.API/.env
